[Desktop Entry]
Name=Hibernate
Comment=Hibernate the system
Type=Application
Icon=system-hibernate
Exec=sh -c 'side-lock && side-hibernate'
Categories=Power;
Terminal=false
