[Desktop Entry]
Name=Lock Screen
Comment=Lock the screen using i3lock
Type=Application
Icon=system-lock-screen
Exec=side-lock
Categories=Power;
Terminal=false
