[Desktop Entry]
Name=Suspend
Comment=Suspend the system
Type=Application
Icon=system-suspend
Exec=sh -c 'i3lock && side-suspend'
Categories=Power;
Terminal=false
